<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

    <header class="demo-drawer-header">
        <div class="mdl-layout-title">
            <span>Hello, <%= user.name %>!</span>
            <div class="mdl-layout-spacer"></div>

        </div>
    </header>

    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href=../../<%= planiz._id%>/<%= user.id %>/dashboard><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
        <a class="mdl-navigation__link" href=../../<%= planiz._id%>/<%= user.id %>/dates><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">date_range</i>Dates</a>
        <a class="mdl-navigation__link" href=../../<%= planiz._id%>/<%= user.id %>/destination><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">map</i>Destination</a>
        <a class="mdl-navigation__link" href=../../<%= planiz._id%>/<%= user.id %>/budget><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">euro_symbol</i>Budget</a>

        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=../../<%= planiz._id%>/logout><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i>Log out</a>

    </nav>
</div>