<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>
</head>

<body>
    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">

            <div class="demo-content">

                <br>

                <!-- Description -->
                <div class="mdl-color--white mdl-shadow--2dp center-block">
                    <div class="card mb-3 text-center">
                        <div class="card-block">
                            <p class="card-text text-muted">Description: <%= planiz.description %></p>
                        </div>
                    </div>

                </div>

                <div class="mdl-grid">


                    <!-- Dates -->

                    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                        <h2 class="card-title"><i class="material-icons" role="presentation">date_range</i>   Dates</h2>
                                </div>
                            </div>
                            <% var keys = Object.keys(planiz.bestAvailabilities);
                                if(planiz.bestAvailabilities && keys.length > 1) {
                                    keys.sort();
                                    for(var k=keys.length-1;k>=keys.length-2 && k!=0;k--){ %>
                                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                        <%= keys[k] %> du <%= planiz.bestAvailabilities[""+keys[k]].start %> au <%= planiz.bestAvailabilities[""+keys[k]].end %>
                                    </div>
                            <% }} %>
                        </div>
                    </div>

                    <!-- Destination -->

                    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                    <h2 class="card-title"><i class="material-icons" role="presentation">map</i>   Destination</h2>
                                </div>
                            </div>
                            <% if(planiz.bestDestinations && planiz.bestDestinations.length > 0){ %>
                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                    <%= planiz.bestDestinations[0].no%>   <%= planiz.bestDestinations[0].name%>
                                </div>
                                <% if(planiz.bestDestinations.length > 1){ %>
                                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                        <%= planiz.bestDestinations[1].no%>   <%= planiz.bestDestinations[1].name%>
                                    </div>
                            <%} } else { %>
                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                    Nobody has voted any destination yet.
                                </div>
                            <%}%>
                        </div>
                    </div>

                    <!-- Budget -->

                    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                    <h2 class="card-title"><i class="material-icons" role="presentation">deuro_symbol</i>   Budget</h2>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>
    </div>
</body>
</html>
