<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>

    <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />

    <!-- Calendar scripts -->

    <script src='/javascripts/moment.min.js'></script>
    <script src='/javascripts/fullcalendar.js'></script>
    <script src='/javascripts/fr.js'></script>

    <script>
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next'
                },
                locale: 'fr',
                themeSystem: 'bootstrap3',
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function() {
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventColor: '#3AB2AE',
                events: [
                    <% var keys = Object.keys(planiz.bestAvailabilities);
                    if(planiz.bestAvailabilities && keys.length > 1){
                        keys.sort();
                        var startDate = new Date(planiz.bestAvailabilities[""+keys[keys.length-1]].start + "Z");
                        var endDate = new Date(planiz.bestAvailabilities[""+keys[keys.length-1]].end + "Z");
                        endDate.setDate(endDate.getDate() + 1)%>
                        {
                            title: '',
                            start: '<%= planiz.bestAvailabilities[""+keys[keys.length-1]].start%>',
                            end: '<%= endDate.toISOString().substring(0, 10)%>'
                        }
                    <% } %>
                ]
                <% if (startDate) {%>
                    , defaultDate: '<%= startDate %>'
                <% } %>
            });

        });
    </script>

</head>

<body>

    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">

            <div class="demo-content">

                <br>

                <div class="mdl-grid">

                    <!-- Description -->
                    <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-grid mdl-grid--no-spacing" >
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop" >
                            <div class="card">
                                <div class="card-block ">
                                    <h2 class="card-title"><%= title%></h2>
                                </div>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                <h6><%= planiz.description%></h6>
                            </div>
                            <div class="mdl-card__menu">
                                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="hdrbtn" data-toggle="modal" data-target="#myModal">
                                    <i class="material-icons">share</i>
                                </button>
                            </div>
                        </div>

                    </div>

                    <!-- Tableau de bord -->

                    <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                    <h2 class="card-title">  Tableau de bord</h2>
                                </div>
                            </div>
                            <br>

                            <h3 class="txParticipants">Taux de participation : <%= Math.round(planiz.usersFilledIn.length * 100 / planiz.users.length) %>%</h3>

                            <br>

                            <div class="nbreParticipants"><h3>Nombre de participants : <%=planiz.users.length%></h3></div>

                            <br>

                            <div class="listeParticipants">
                                <h3>Liste participants :</h3>
                                <ul class="a">
                                <% for(var i=0; i<planiz.users.length; i++){%>
                                    <li><div class="mdl-color-text--grey-600"><h6><%=planiz.users[i].name%></h6></div></li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- Dates -->

                    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                        <h2 class="card-title"><i class="material-icons" role="presentation">date_range</i>   Dates</h2>
                                </div>
                            </div>
                            <div id='calendar' name="calendar" style="height:10%;"></div>
                        </div>
                    </div>

                    <!-- Destination -->

                    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                    <h2 class="card-title"><i class="material-icons" role="presentation">map</i>   Destinations</h2>
                                </div>
                            </div>
                            <% if(planiz.bestDestinations && planiz.bestDestinations.length > 0){ %>
                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                    <h6><%= planiz.bestDestinations[0].no%>   <%= planiz.bestDestinations[0].name%></h6>
                                </div>
                                <% if(planiz.bestDestinations.length > 1){ %>
                                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                        <h6><%= planiz.bestDestinations[1].no%>   <%= planiz.bestDestinations[1].name%></h6>
                                    </div>
                            <%} } else { %>
                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                    <h6>Aucune destination n'a été saisie.</h6>
                                </div>
                            <%}%>
                        </div>
                    </div>

                    <!-- Budget -->

                   <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="card">
                                <div class="card-block ">
                                    <h2 class="card-title"><i class="material-icons" role="presentation">deuro_symbol</i>   Budget</h2>
                                </div>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                <% if(planiz.budgetMin) { %>
                                <h6>Budget du groupe :  <%= planiz.budgetMin%> €</h6>
                                <% } else {%>
                                <h6>Aucun budget n'a été saisi.</h6>
                                <% } %>
                            </div>
                        </div>
                    </div>


                </div>
                    <!-- Tableau de bord -->
                   <div class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                       <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop" style="min-height: 20px;">
                           <div class="card">
                               <div class="card-block ">
                                   <h2 class="card-title">  Suggestions</h2>
                               </div>
                           </div>

                           <% if(planiz.usersFilledIn.length >= 2) { %>

                                <div class="row">
                                    <div class="col-lg-4" style="padding-right: 0; padding-left: 0;">
                                        <div class="card">
                                            <div class="card-block ">
                                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                                    <h6>Vous pouvez partir 4 jours au lieu de 7 et vous serez avec Nicolas!</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="padding-right: 0; padding-left: 0;">
                                        <div class="card">
                                            <div class="card-block ">
                                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                                    <h6>Partez un jour plus tard, vous économiserez 100€ sur votre vol!</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="padding-right: 0; padding-left: 0;">
                                        <div class="card">
                                            <div class="card-block ">
                                                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                                    <h6>Partez plutôt à Istanbul, c'est 20 € par jour moins cher!</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <% } else { %>

                                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                        <h6>Remplissez le Planiz pour avoir accès aux suggestions!</h6>
                                    </div>

                                <% } %>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
    </div>
</body>
</html>
