<!DOCTYPE html>
<html>

<head>
    <!-- Documentation pour le calendar: https://fullcalendar.io/ -->

    <%include partials/head.html%>

    <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
    <link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />

    <!-- Calendar scripts -->

    <script src='/javascripts/moment.min.js'></script>
    <script src='/javascripts/fullcalendar.js'></script>
    <script src='/javascripts/fr.js'></script>

    <!--Options du calendrier -->
    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next today'
                },
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                locale: 'fr',
                themeSystem: 'bootstrap3',
                select: function(start, end) {
                    var title = "<%= user.name%>";
                    var eventData;
                    if(start.isBefore(moment())) {
                        $('#calendar').fullCalendar('unselect');
                        window.alert("Cannot select past dates");
                        return false;
                    }
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        $.ajax({
                            url: '/<%= planiz._id%>/<%= user.id %>/addEvent',
                            data: JSON.stringify(eventData),
                            contentType: 'application/json',
                            type: "POST"
                        });
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: true,
                eventColor: '#3AB2AE',
                events: [
                    <% if(events[0]){
                            for(var i=0; i<events.length-1; i++) { %>
                                {
                                    title: '<%= events[i].title%>',
                                    start: '<%= events[i].start%>',
                                    end: '<%= events[i].end%>',
                                    className: 'success'
                                },
                            <% }%>
                            {
                                title: '<%= events[events.length-1].title%>',
                                start: '<%= events[events.length-1].start%>',
                                end: '<%= events[events.length-1].end%>'
                            }
                    <% } %>
                ]
            });
        });
    </script>
</head>

<body>
    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">

                <!-- Section calendrier -->

                <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
                    <div class="card">
                        <div class="card-block">
                            <div id='calendar' name="calendar"></div>
                        </div>
                    </div>
                </div>

                <!-- Section meilleures dates -->

                <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title">Best availabilities</h3>
                            </div>
                        </div>

                        <!-- To Do: add best availabilities here -->

                        <div class="card ">
                            <div class="card-block">
                                <% var keys = Object.keys(planiz.bestAvailabilities);
                                if(planiz.bestAvailabilities && keys.length > 1) {
                                    keys.sort();
                                    for(var k=keys.length-1;k>=0;k--){ %>
                                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                            <%= keys[k] %> du <%= planiz.bestAvailabilities[""+keys[k]].start %> au <%= planiz.bestAvailabilities[""+keys[k]].end %>
                                        </div>
                                <% }} %>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
