<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>

    <script>
        $(document).ready(function() {
            $('.mdl-checkbox__input').click(function() {
                var data = $(this).attr("name");

                if($(this).is(":checked")){
                    $.ajax({
                        url: '/<%= planiz._id%>/<%= user.id %>/addDestinationVote',
                        data: data,
                        type: 'post',
                        dataType: 'json',
                    });
                } else{
                    $.ajax({
                        url: '/<%= planiz._id%>/<%= user.id %>/removeDestinationVote',
                        data: data,
                        type: 'post',
                        dataType: 'json',
                    });
                }
            });
        });
    </script>
</head>

<body>
    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">
                <div class="demo-options mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__supporting-text">
                        <h3>Destination options</h3>

                        <br>

                        <!-- Liste avec destinations présentes dans la bdd -->
                        <ul>
                            <% if(planiz.destinations){
                                for(var i=0; i<planiz.destinations.length; i++) {%>

                                    <li>
                                        <label for=checkbox<%=i%> class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                            <%
                                                // Check if user has already checked some destinations
                                                if(planiz.users) {
                                                    for (var j = 0; j < planiz.users.length; j++) {
                                                        if (planiz.users[j].id == user.id && planiz.users[j].destinations.indexOf(planiz.destinations[i]) >= 0) {
                                                            var checked = "checked";
                                                        }
                                                        else {
                                                            var checked = "";
                                                        }
                                                    }
                                                }
                                            %>
                                            <input type="checkbox" id=checkbox<%=i%> name=<%= planiz.destinations[i] %> class="mdl-checkbox__input" <%= checked %>>
                                            <span class="mdl-checkbox__label"><%= planiz.destinations[i] %></span>
                                        </label>
                                    </li>
                            <% } }%>

                            <br>
                        </ul>

                        <!-- Formulaire pour rajouter une nouvelle destination -->
                        <form action=../../<%= planiz._id %>/<%= user.id %>/addDestination method='post'>
                            <fieldset>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input name="newoption" type="text" class="form-control" placeholder="Other..." aria-label="Other...">
                                        <span class="input-group-btn">
                                                    <button class="btn btn-secondary" type="submit">Add</button>
                                                </span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>

            </div>

        </main>
    </div>

</body>
</html>
