<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>

    <link rel='stylesheet' href='/stylesheets/form.css' />

</head>

<body>
    <hgroup>
        <h1>Planiz</h1>
        <h4><%= planiz.title %></h4>
    </hgroup>
    <form action=../<%= planiz._id %>/addUser method='post'>
        <h5>Who are you?</h5>

        <% if(planiz.users) {
            for(var i=0; i<planiz.users.length; i++) {%>
                <button type="button" class="btn btn-lg btn-block" onclick="window.location.href=' ../<%= planiz._id %>/<%= planiz.users[i].id %>/login'" ><%= planiz.users[i].name %></button>
        <% } } %>

        <!-- Button trigger fenetre modal -->
        <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Add user</button>

        <!-- Fenetre Modal pour rajouter un nouveau utilisateur -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username">Name:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn">Add user</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>